@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 1px solid red !important; */
}

body {
  position: relative;
  min-height: 100%;

  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--basic-font-family);
  font-size: clamp(10px, 1.3vw, 22px);

  line-height: 200%;
}

body::selection {
  background-color: var(--l__grad__color__green);
  color: black;
}

:root {
  --bg-color: #121517;
  --text-color: #D9D9D9;
  --linear-border-gradient: linear-gradient(120deg,
      rgb(218, 218, 218, 1),
      rgba(218, 218, 218, 0.2),
      rgb(218, 218, 218, 1));
  --linear-border-gradient-hover: linear-gradient(70deg,
      #237249,
      #35C66B,
      #237249);
  --linear-event-card-gradient-hover: linear-gradient(200deg,
      #9358d3,
      #3551cf,
      #9358d3);
  --linear-gradient: linear-gradient(77deg, #35C66B, #237249);
  --l__grad__color__green: #35C66B;
  --l__grad__color__d__green: #237249;

  --container-padding-inline: 130px;

  --basic-font-family: "Montserrat", sans-serif;
  --p-font-size: clamp(14px, 1.3vw, 24px);
  --headline-f-size: clamp(44px, 5.2vw, 108px);
  --img-polygon-cutter: polygon(0 0,
      70% 0,
      100% 20%,
      100% 100%,
      0 100%);
}

/* ! Properties */

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* ! Tag styles */

section {
  max-width: 100%; 
  overflow-x: clip;
}

ul {

  list-style: none;

}

a {

  text-decoration: none;

  color: white
}

img {
  width: 100%;
}

h1,
h2 {
  line-height: 109%;

  font-weight: 800;
}

p {
  font-size: var(--p-font-size);
  line-height: 160%;
}

button {
  border: none;
  outline: none
}

/* ! class styles */

.btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--linear-gradient);
}

.btn:hover {
  background: transparent;
  border: transparent;
}

.btn:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 4px;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  background: conic-gradient(from var(--angle),
      #135533,
      #33aa5e,
      #37ac62,
      #247049,
      #135533);
  border-radius: inherit;
  animation: border_animation 3.5s ease 0.2s infinite;
}

.gradient-text {
  background: var(--linear-gradient);
  background-clip: text;

  color: transparent;
}

/* * container styles  */

.container {
  width: min(90vw, 1600px);

  margin: 0 auto;
  padding-inline: clamp(15px, 3vw, 40px);
}

/* $ header container */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: clamp(20px, 3vw, 100px);

  z-index: 1000;

  background-color: rgba(18, 21, 23, 0.8);
  backdrop-filter: blur(20px);
}

.header__container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6vw;
}

.header__title {
  font-size: clamp(2.5vw, 40px, 4vw);
}

/* = navigation bar */

.header__nav-list {
  gap: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__nav-list li a {
  color: var(--text-color);
  transition: opacity 0.3s linear;

}

.header__nav-list li:hover a {
  opacity: 0.7;
}

/*  $ main */

.main {
  padding-top: 200px;
  padding-bottom: 80px;
}

/* * welcome section */

.welcome {
  width: 100%;
  position: relative;
}

.main__container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-start;

  gap: 0 clamp(20px, 3vw, 155px);
}

/* = left box in main section */

.box-left {
  width: clamp(250px, 40vw, 800px);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: clamp(30px, 3.6vw, 70px);

}

.box-left h2 {
  font-size: var(--headline-f-size);
  position: relative;
}

.box-left h2::before {
  content: "";
  top: 0;
  left: 0;

  position: absolute;
  width: clamp(200px, 20vw, 500px);
  aspect-ratio: 1;

  background: url(./images/icons/flash.svg) no-repeat top/contain;
  z-index: -1;

  pointer-events: none;
}

.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  gap: 0 15px;

}

.btn-box__btn {
  width: clamp(220px, 23vw, 500px);

  border-radius: clamp(4vw, 80px, 6vw);

  padding: clamp(1vw, 20px, 2vw);

  font-size: clamp(1vw, 24px, 2vw);
  font-weight: 600
}

.more-btn {
  width: clamp(90px, 11vw, 250px);
  aspect-ratio: 2.2;
  background: transparent;
  border: solid 1px white;

  font-weight: normal;
}

.stats-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stat h3 {
  font-size: clamp(40px, 4vw, 82px);
  font-weight: 400;

}

.stat-plus {
  font-weight: 700;
}

.break-word {
  display: block
}

/* = right box in main section */

.box-right {
  display: flex;
  justify-content: center;

  position: relative;
}

.box-right img {
  width: clamp(250px, 30vw, 600px);
  height: auto;

  margin: 0 auto;
}

.box-right::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(20%, 40%);

  width: clamp(400px, 56vw, 1000px);
  aspect-ratio: 1.3;

  background: url(./images/icons/lines.svg) no-repeat right center / contain;
  pointer-events: none;

  z-index: -1;

  pointer-events: none;

}

.box-right::after {
  content: "";
  position: absolute;

  width: clamp(250px, 35vw, 600px);
  aspect-ratio: 1;

  border-radius: 50%;

  bottom: 0%;
  right: 0%;

  transform: translate(15%, 20%);

  background: url(./images/icons/flash2.svg) no-repeat center/contain;

  filter: blur(100px);

  z-index: -2;

  pointer-events: none;
}

/* * stuff having section */

.have__section {
  padding-top: clamp(40px, 10vw, 150px);

}

.have__section .container {
  display: flex;
  justify-content: center;

  color: #121517;
}

/* - stuff card wrapper */

.stuff__wrapper {
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  gap: 0 100px;

  width: min(80%, 1300px);

  border-radius: 40px;
  background: linear-gradient(70deg, rgb(251, 251, 251), rgb(229, 229, 229), rgba(255, 255, 255));

  padding: 0px 15px 30px 15px;
}

.stuff__wrapper::before {
  content: "";
  position: absolute;

  width: clamp(200px, 20vw, 400px);
  aspect-ratio: 1;

  background: linear-gradient(92deg,
      var(--l__grad__color__green),
      var(--l__grad__color__d__green));

  border-radius: 50%;

  filter: blur(120px);
  opacity: 0.6;

  inset: 0;
  transform: translate(-40%, 0%);

  z-index: -1;
  pointer-events: none;
}

.stuff__wrapper::after {
  content: "";
  position: absolute;

  inset: 0;
  transform: translate(-50%, -40%);

  width: clamp(90px, 10vw, 300px);
  aspect-ratio: 1;

  background-image: url(./images/icons/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  filter: drop-shadow(3px 2px 10px black);

  z-index: 1;
  pointer-events: none;
}

.star-label {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-45%, -40%);

  width: clamp(60px, 7vw, 170px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: clamp(15px, 1.8vw, 40px);
  font-weight: 500;
  line-height: 1.1;

  color: white;

  word-break: break-word;

  z-index: 2;
}

.stuff-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: clamp(8px, 1.3vw + 1px, 25px);

  width: clamp(100px, 10vw, 220px);

  text-align: center;

  position: relative;

  z-index: 1;
}

.stuff-card:hover {
  transform: scale(1.1);
  border-radius: inherit;
}

/* - stuff card image wrapper */

.stuff-card .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: clamp(90px, 13vw, 300px);
  aspect-ratio: 0.8;

  position: relative;
}

.stuff-card .img-wrapper::before {
  content: "";
  position: absolute;

  top: 0%;
  left: 50%;

  transform: translateX(-50%);

  width: clamp(120px, 16vw, 350px);
  aspect-ratio: 1;

  border-radius: 50%;
  background: url(./images/icons/circle.svg) no-repeat top/contain;

  z-index: -1;

  pointer-events: none;

}

.heart__card img {
  width: clamp(75px, 10vw, 200px);
  transform: translateX(5%);
}

.stuff-card h3 {
  font-size: clamp(16px, 2.3vw, 48px);
  font-weight: 600;
}

/* * info section */

.info__section {
  padding-top: clamp(40px, 8vw, 200px);

}

.info__section .container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px 20px;
}

.info__section .container::before {
  content: "";
  position: absolute;
  inset: 0;

  transform: translate(40%, 60%) rotateY(180deg) rotateZ(15deg);
  width: min(70vw, 1200px);
  aspect-ratio: 1.6;

  background: url(./images/icons/lines.svg) no-repeat center / contain;

  z-index: -1;
}

.img__box {
  position: relative;
  z-index: 1;
}

.img__box-img {
  width: clamp(250px, 40vw, 600px);
  aspect-ratio: 0.7;
  clip-path: var(--img-polygon-cutter);

  object-fit: cover;
}

.img__box::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translate(-10%, 5%);

  clip-path: var(--img-polygon-cutter);

  background-color: #237249;

  z-index: -1;

}

.info__right-box {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: clamp(35px, 4vw, 80px);

  width: clamp(380px, 30vw, 650px);

  z-index: 0;
}

.info__right-box__img {
  position: relative;
  clip-path: polygon(20% 0,
      100% 0,
      100% 100%,
      0 100%,
      0 25%);
  z-index: 1;
}

.info__right-box h2 {
  position: relative;

  font-size: var(--headline-f-size);
  font-weight: 900;

  word-break: break-word;

  z-index: 0;
}

.info__right-box h2::before {
  content: '';
  position: absolute;
  transform: translate(40%, -20%);

  width: 300px;
  height: 260px;

  background: url(./images/icons/flash2.svg) no-repeat center / contain;
  filter: blur(80px);
  z-index: -1
}

/* * products section */

.products__section {
  padding: clamp(65px, 7vw, 150px) 0;
}

.products__section .container {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

.product_text-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(35px, 4vw, 85px);

  margin-bottom: 50px;
}

.product_text-wrapper h2 {
  font-size: var(--headline-f-size);

  width: clamp(280px, 26vw, 500px);
}

.product_text-wrapper p {
  width: clamp(260px, 30vw, 500px);
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  grid-auto-rows: min-content;
  gap: 50px;
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  width: clamp(170px, 18vw, 350px);
  aspect-ratio: 0.5;

  background: transparent;
  border-radius: 20px;

  padding-bottom: 20px;

  text-align: center;

  border-radius: 30px;
  z-index: 0;
}

.card::before {
  content: "";

  position: absolute;
  inset: 0;

  padding: 2px;
  border-radius: inherit;
  background: var(--linear-border-gradient);

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.card:hover::before {
  background: var(--linear-border-gradient-hover);
}

.card_img-box {
  position: relative;

  display: flex;
  justify-content: center;

}

.card_img-box::before {
  content: "";
  position: absolute;

  bottom: 5%;
  left: 0%;

  width: clamp(180px, 20vw, 350px);
  aspect-ratio: 1;
  border-radius: 50%;
  background: url(./images/icons/circle.svg) no-repeat center/cover;

  z-index: -1;

}

.card h4,
.card span:first-child {
  font-size: clamp(20px, 2vw, 38px);
  font-weight: 500;
}

.card div {
  display: flex;
  gap: 0 20px;
}

.card__btn {
  width: clamp(120px, 12vw, 230px);
  aspect-ratio: 3.3;
  border-radius: 40px;
}

/* * Events section */
.events__section {
  padding: 50px 0;
}

.events__section .container {
  position: relative;
  z-index: 0;
}

.events__section .container::before {
  content: "";
  position: absolute;
  transform: translate(-30%, 0%);

  width: 700px;
  height: 300px;

  background: url(./images/icons/lines-half.svg) no-repeat center/contain;

  z-index: -1;
}

.events__section .container::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 20%;

  width: 320px;
  height: 280px;
  border-radius: 50%;

  background-color: rgb(217, 217, 217, 0.25);
  filter: blur(80px);

  z-index: -1;
}

.event_text_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: clamp(20px, 4.6vw, 100px);
  flex-wrap: wrap;
  flex-direction: row-reverse;

}

.event_text_wrapper h2 {
  font-size: var(--headline-f-size);
  width: max(250px, 25vw);
}

.event_text_wrapper p {
  width: max(300px, 25vw);
}

/* = event_box of cards */

.event_box {
  display: grid;
  grid-template-areas:
    'left-block left-block left-block right-block right-block right-block'
    'left-main left-main center-main center-main right-main right-main';
  justify-content: space-between;
  gap: 20px 20px;
  margin-top: 70px;
}

/* $ common properties */

.card_event {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 15px 20px;
  height: clamp(130px, 17vw, 300px);

  border-radius: 30px;

  overflow: visible;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_title-limit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 240px;

  font-size: clamp(18px, 2.2vw, 38px);
  font-weight: 400;

  word-break: keep-all;
  cursor: pointer;
}

.card_event:has(.card_title-limit:hover)::before {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0%;
  transform: translate(0%, -50%);
  padding: 10px 15px;

  width: max-content;
  max-width: clamp(130px, 13vw, 250px);
  height: auto;

  font: normal 600 clamp(10px, 1.15vw, 18px) var(--basic-font-family);

  line-height: 1.3;
  word-break: keep-all;

  color: #121517;
  background-color: rgb(255, 255, 255);

  z-index: 100;
  pointer-events: none;
}

.events-card-btn {
  position: relative;
  min-width: 100px;

  background: var(--linear-gradient);

  border-radius: clamp(40px, 5.2vw, 100px);
  border: none;

  font-size: var(--p-font-size);
  font-weight: 700;

  z-index: 0;
  overflow: hidden;
}


/* $ upper floor events cards */

.upper_card {
  width: clamp(250px, 40vw, 750px);

  border-radius: 20px;
  /* border: 2px solid white; */
}

.upper_card-1 {
  grid-area: left-block;
  background-image: url(./images/events/1.png);

}

.upper_card-2 {
  grid-area: right-block;

  background-image: url(./images/events/2.png);
}

/* card title line clamp */

/* $ down floor events cards */

.down_card {
  width: clamp(170px, 26vw, 520px);
  border-radius: 20px;

  /* border: 2px solid white; */
}

.down_card-1 {
  grid-area: left-main;

  background-image: url(./images/events/3.png);
}

.down_card-2 {
  grid-area: center-main;

  background-image: url(./images/events/4.png);
}

.down_card-3 {
  grid-area: right-main;

  background-image: url(./images/events/5.png);
}

/* * Contact Us section */

.contact_us {
  position: relative;
  padding: 80px 0 100px 0;
}

.contact_us::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(20%, 40%) rotateZ(15deg);

  width: min(70vw, 1400px);
  height: 650px;

  background: url(./images/icons/lines.svg) no-repeat center / contain;

  z-index: -1;
}

.contact_us .container {
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;

  z-index: 0;
}

.contact-text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 60px;
  width: clamp(300px, 26vw, 500px);
}

.contact-text_wrapper h2 {
  font-size: var(--headline-f-size);
}

.phone-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.phone-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;

  background: url(./images/icons/phone.png) no-repeat center/contain;
  transition: transform 0.3s ease;
}

.phone-wrapper:hover::before {
  transform: scale(1.2);
}

.phone-num {
  position: relative;
  font-size: clamp(22px, 2.2vw, 38px);
  font-weight: 600;

  padding-bottom: 5px;

  transition: opacity 0.5s linear;
}

.phone-num::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;

  height: 3px;
  width: 0%;
  
  background: linear-gradient(
    70deg,
    #135533,
    #33aa5e,
    #37ac62,
    #247049,
    #135533
  );

  transition: width 0.7s ease-in;
}

.phone-num:hover {
  opacity: 0.7;
}

.phone-num:hover::before{
  width: 100%;
}

.contact-img_box-wrapper {
  position: relative;
}

.contact-img_box-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translate(5%, 5%);

  width: 100%;
  height: 100%;

  clip-path: polygon(30% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 25%);

  background-color: var(--l__grad__color__d__green);

  z-index: -1;
}

.contact-img_box {
  width: 320px;
  height: clamp(230px, 35vw, 700px);

  clip-path: polygon(30% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 25%);

  z-index: 0;
}

.contact-img_box img {
  height: 100%;

  object-position: center center;
  object-fit: cover;
}

/* $ footer */

.footer {
  padding: 200px 0;
}

.footer .container {
  display: grid;
  grid-template-areas: 
    "logo menu menu menu menu arrow"
    "contact contact contact contact contact contact";
  gap: 50px 20px;
}

.logo_wrapper {
  grid-area: logo;
}

.footer__title {
  font-size: clamp(26px, 2.5vw, 44px);
}

.footer__nav {
  grid-area: menu;
}

.footer_nav__list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px 20px;
}

.footer_nav__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_nav__list-item h6, .footer_nav__list-item span {
  font-size: clamp(14px, 1.3vw, 24px);
  font-weight: 400;
  color: #BBB3B3;
}

.footer_nav__list-item span {
  opacity: 0.5
}

.up-arrow-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: arrow;
  justify-self: end;

  width: 80px;
  aspect-ratio: 1;
  background: transparent;
  border-radius: 25px;
}

.up-arrow-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;

  background: linear-gradient(
    190deg,
    var(--l__grad__color__d__green),
    var(--l__grad__color__green)
  );

  -webkit-mask: 
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask: 
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.up-arrow-wrapper:hover {
  box-shadow: 2px 1px 25px rgba(78, 71, 71, 0.674);
}

.up-arrow-wrapper:hover::before {
  background: conic-gradient(
    from var(--angle),
    transparent 30%,
    rgb(66, 31, 163),
    rgb(162, 20, 218)
  );

  -webkit-mask: linear-gradient(#000 0 0) content-box,
  linear-gradient(#000 0 0);
  mask: linear-gradient(#000 0 0) content-box,
  linear-gradient(#000 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  width: inherit;
  animation: border_animation 3s ease 0.2s infinite;
}

.up-arrow-wrapper img {
  width: 75px;
  height: 50px;
}

.footer_phone {
  grid-area: contact;
}

.footer_phone-num {
  position: relative;
  font-weight: 400;
  font-size: clamp(16px, 1.7vw, 36px);
}

/* ! KEYFRAMES */

@keyframes border_animation {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;

  }
}

/* ! MEDIA QUERIES */

@media (max-width: 880px) {
  .info__section .container {
    justify-content: center;
  }

  .info__section .container::before {
    display: none;
  }

  .img__box::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: translate(-20%, -10%) rotateZ(20deg);

    width: 600px;
    aspect-ratio: 1.6;

    background: url(./images/icons/lines.svg) no-repeat center/contain;

    z-index: -2;
  }

  .img__box img {
    aspect-ratio: 1.2;
  }

  .info__right-box {
    text-align: center;
  }

  .events__section .container::before {
    display: none;
  }

  .events__section .container::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 30%;

    width: 300px;
    height: 300px;

    background: url(./images/icons/flash.svg) no-repeat center / contain;

    filter: blur(50px);
  }

  .event_text_wrapper {
    justify-content: center;
    text-align: center;
  }

  .event_text_wrapper h2 {
    width: 70vw;
  }

  .contact_us::after {
    top: 10%;
    left: 0;

    width: 550px;
    height: 400px;
    transform: rotateZ(155deg) rotateX(180deg);
    /* background: url(./images/icons/lines-half.svg) no-repeat center/contain; */
  }

  .contact_us .container {
    justify-content: center;
  }

  .contact-text_wrapper {
    text-align: center;
  }
}

@media (max-width: 640px) {
  .header__container {
    width: 100%;
    justify-content: space-between;
  }

  .main__container {
    gap: 50px 0;
  }

  .box-right {
    width: 100%
  }

  .box-right::before {
    transform: translate(15%, 25%);

  }

  .box-right::after {
    transform: translate(-30%, -10%);
  }

  .stuff__wrapper::before {
    left: 100%;
  }

  .product_text-wrapper {
    text-align: center;
    justify-content: center;
  }

  .info__right-box::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: translate(-30%, 10%) rotateZ(35deg);

    background: url(./images/icons/lines.svg) no-repeat center / contain;

    width: 1450px;
    aspect-ratio: 1.5;

    z-index: -1;
  }

  .event_box {
    grid-template-areas:
      'left-block left-block'
      'left-main center-main'
      'right-block right-block';
  }

  .upper_card {
    width: max(240px, 85vw);
  }

  .down_card {
    width: max(130px, 40vw)
  }

  .down_card-3 {
    display: none;
  }

  .footer .container {
    grid-template-areas: 
      "logo arrow"
      "menu menu"
      "contact contact";
  }
}

@media (max-width: 430px) {
  .event_box {
    grid-template-areas:
      'left-block left-block'
      'left-main left-main'
      'center-main center-main'
      'right-main right-main'
      'right-block right-block';
  }

  .card_event {
    align-items: center;
  }

  .upper_card h3 {
    max-width: 140px;
  }

  .down_card h3 {
    max-width: 100px;
  }

  .down_card-3 {
    display: flex;
  }

  .up-arrow-wrapper {
    width: 50px;
    border-radius: 15px;
  }

  .up-arrow-wrapper img {
    width: 50px;
    height: 30px;
  }

}